* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding-top: 1px;

}

#nav {
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h1 {
    /* background-color: blue; */
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monument;
    font-size: 45px;
    letter-spacing: -1;
    position: relative;
}

#nav h1::after {
    content: "©️";
    font-family: serif;
    font-size: 20px;
    position: absolute;
    top: 16%;
    right: 4%;
    font-weight: 400;
}

#nav h1::before {
    content: "model management";
    font-family: serif;
    font-size: 15px;
    position: absolute;
    letter-spacing: 0.1px;
    bottom: 13%;
    right: 10%;
    font-weight: 400;
}

#nav h2 {
    /* background-color: blue; */
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    font-size: 26px;
    font-weight: 600;
}
#nav h3{
    display: none;
}
#nav h2:nth-last-child(2) {
    width: 29%;
}

#nav h2:nth-last-child(1) {
    width: 10%;
}

#center {
    height: 90%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 4vw;
}

#content {
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: blue; */
}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    height: 55%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 3vw;
    color: #fff;
}

#over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}

#over1 h1 {
    font-family: monument;
    font-size: 3.6vw;

}

#over1 h2 {
    /* font-family: monument; */
    font-size: 1vw;
    padding: 2vw 2.2vw;
    border-radius: 50%;
    border: 1px solid #fff;
    border: 2px solid #fff;
}

#over2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
}

#over2 h4 {
    font-size: 1.3vw;
    font-weight: 500;
}

#over2 img {
    height: 3vw;
}

#scroll {
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container {
    height: 100%;
    width: 110%;
    /* background-color: blue; */
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img {
    /* display: none; */
    height: 95%;
    border-radius: 50%;
    width: 14%;
    margin: 1vw;
    object-fit: cover;
    object-position: 30% 30%;
}

@keyframes anime {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-100%);
    }
}

#alphabet {
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

}

#alphabet h5 {
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    border-bottom: 2px solid #000;
    margin-right: 1vw;

}

#alphabet h6 {
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    /* background-color: yellow; */
    letter-spacing: 4px;
    border-radius: 50%;
    padding: 0.5vw 0.7vw;
    border: 1px solid #ffffff00;
    cursor: pointer;
    transition: all ease 0.2s;
}

#alphabet h6:hover {
    border: 1px solid #000000;
}

#page2 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}

#page2-part1 {
    height: 100%;
    width: 50%;
    background-color: grey;
    background-image: url(https://images.unsplash.com/photo-1654944989879-b3ef6a3f69a3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#page2-part2 {
    height: 100%;
    width: 46%;
    /* background-color: grey; */
}

#page2-part2 img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

#page2-part2-bottom-text {
    height: 30%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-family: monospace;
    padding: 1vw;
}

#page2-part2-bottom-text :nth-child(1) h2 {
    font-size: 2vw;

}

#page2-part2-bottom-text :nth-child(2) h6 {
    font-size: 1vw;

}

#page3 {
    height: 100%;
    width: 100%;
    /* background-color: grey; */

}

#vogue-shot {
    height: 6%;
    display: flex;
    align-items: center;
    /* background-color: red; */
    padding: 0 5vw;
}

#vogue-shot h1 {
    font-size: 3vw;
    font-weight: 600;
    font-family: "monument";
}

#page3-container {
    height: 94%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}

#page3-part1 {
    height: 100%;
    width: 38%;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
}


#page3-part2 {
    height: 100%;
    width: 60%;
    /* background-color: gray; */

}

#page3-part2 img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#circular-text {
    height: 80%;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#circular-text img {
    /* background-color: #fff; */
    height: 55%;
    width: 70%;
}

#Gola {
    animation: circularText 15s linear infinite;
}

@keyframes circularText {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#circular-text #arrow {
    height: 20%;
    width: 20%;
    position: absolute;
}

#circular-text-bottom {
    height: 20%;
    width: 100%;
    /* background-color: green; */
}

#circular-text-bottom h5 {
    font-size: 2vw;
    font-weight: 500;
}

#page4 {
    height: 100%;
    width: 100%;
    /* background-color: greenyellow; */
    padding: 2vw 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page4-img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#page5 {
    height: 100%;
    width: 100%;
}

#page5 {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 5vw 4vw;
}

#page5>h1 {
    text-align: center;
    font-family: "monument";
    text-transform: uppercase;
    font-size: 3vw;
    margin-bottom: 7vh;
}

.elem {
    height: 15vh;
    width: 100%;
    /* background-color: red; */
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
    transition: all ease 0.7s;

}

.elem img {
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    left: 12%;
    opacity: 0;
    transition: all ease 0.7s;
    object-fit: cover;
    /* object-position: top; */
}

.elem h4 {
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
}

.elem .elem-part2 {
    width: 50%;
}

.elem-part2 h1 {
    font-size: 2.7vw;
    font-weight: 500;
}

.elem-part2 h5 {
    font-size: 0.8vw;
    font-weight: 600;
    text-transform: uppercase;
}

.elem:nth-last-child(1) {
    border-bottom: 2px solid black;
}

.elem:hover img {
    opacity: 1;
    left: 24%;
}

.elem:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

#marquee {
    width: 100%;
    background-color: #fff;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0.8vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#page6 {
    height: 100%;
    width: 100%;
    /* background-color: orange; */
}

#Movie-Shot {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 5vw;
}

#Movie-Shot-1 {
    height: 100%;
    width: 48%;
    background-color: grey;
}

#Movie-Shot-1 img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#Movie-Shot-2 {
    height: 100%;
    width: 50%;
    background-color: grey;
}

#page7 {
    height: 100%;
    width: 100%;
    padding: 2vw 5vw;
}

#page7 div {
    height: 100%;
    width: 100%;
    background-color: greenyellow;
}

#page7 div img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#page8 {
    height: 100%;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 5vw;
}

#page8-part1 {
    height: 100%;
    width: 50%;
    background-color: gray;
}

#page8-part2 {
    height: 100%;
    width: 40%;
}

#page8-part2 img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#marquee h1 {
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    letter-spacing: 2px;
    font-family: "monument";
    animation: move 4s infinite linear;

    /* vo pehle se 4 px ka gap le rha tha */
    margin-right: 16px;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}

#Blog-page {
    height: 90%;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 5vw;
}

#Blog-page #Blog-part1 {
    height: 80%;
    width: 20%;
    /* background-color: grey; */
    display: flex;
    justify-content: center;
}

#Blog-page #Blog-part1 h1 {
    font-family: "monument";
    text-transform: uppercase;
}

#Blog-page #Blog-part2 div {
    display: flex;
}

#Blog-page #Blog-part2 div h4 {
    font-weight: 500;
    font-size: 27px;

    line-height: 35px;
    display: flex;
    text-align: initial;
    font-weight: 500;

}

#Blog-page #Blog-part2 div {
    width: 100%;
    height: 50%;
    /* background-color: green; */
}

#Blog-page #Blog-part2 div img {
    width: 100%;
    height: 100%;
    /* background-color: green; */
    background-size: cover;
    background-position: center;
}

#Blog-page #Blog-part2 div span {
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;

}

#Blog-page #Blog-part2 {
    /* background-color: gray; */
    height: 80%;
    width: 35%;
}

#Blog-page #Blog-part3 {
    /* background-color: gray; */
    height: 80%;
    width: 35%;
}

#footer {
    height: 50%;
    width: 100%;
    /* background-color: orange; */
    padding: 2vw 0;
    display: flex;
    /* justify-content: space-between; */
}

#footer-part1 {
    width: 65%;
    height: 100%;
    display: flex;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    position: relative;
}

#footer-part1 h2 {
    padding: 6vh 5vw;
    border-right: 2px solid #000;
}

#footer-part1 h1 {
    font-family: "monument";
    padding: 5vh 7vw;
    font-size: 40px;
}

#footer-part2 {
    width: 35%;
    height: 100%;
    /* background-color: gray; */
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;

}

#footer-part2 #FTP1 h2 {
    padding: 6vh 3vw;
    height: 40%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #000;
}

.logo {
    height: 3.5vh;
    width: 2vw;
}

#logo-part {
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: initial;
}

#logo-part1 {
    width: 60%;
    /* background-color: orange; */
    display: flex;
    padding: 2vw 3vw;
    justify-content: space-between;

}

#copyright {
    padding: 1vh 3vw;
}

#copyright h6 {
    font-size: 1.4vw;
    font-weight: 500;
}

#footer #footer-part1 h1::after {
    content: "©️";
    font-family: serif;
    font-size: 20px;
    position: absolute;
    padding-top: 2px 2px;
    font-weight: 400;
}

#footer #footer-part1 h1::before {
    content: "model management";
    font-family: serif;
    font-size: 15px;
    position: absolute;
    padding: 4.3vh 6.5vw;
    font-weight: 400;
}

#pointer,
.pointer:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    #main{
        width: 100%;
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }

    #nav {
        height: 8vh;
        margin-top: 20px;
        padding: 0 5vw;
    }
    #nav h3{
        display: block;
    }

    #nav h1 {
        width: 40%;
        display: flex;
        justify-content: flex-start;
        font-size: 24px;
    }

    #nav h1::after {
        
        display: none;
    }

    #nav h1::before {
        display: none;
    }

    #nav h2 {
        display: none;
    }


    #center {
        height: 60%;
        width: 100%;
        /* background-color: red; */
        position: relative;
        padding: 4vw;
    }
    
    #content {
        height: 100%;
        width: 100%;
        position: relative;
        /* background-color: blue; */
    }
    
    #content video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    #overlay {
        height: fit-content;
        width: 100%;
        position: absolute;
        bottom: 0;
        /* background-color: red; */
        padding: 3vw;
        color: #fff;
    }
    
    #over1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2vw;
    }
    
    #over1 h1 {
        font-family: monument;
        font-size: 5.5vw;
        font-weight: 100;
    
    }
    
    #over1 h2 {
        /* font-family: monument; */
        font-size: 1vw;
        padding: 3vw 3.2vw;
        border-radius: 50%;
        border: 1px solid #fff;
        border: 2px solid #fff;
    }
    
    #over2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 2px solid #fff;
        padding: 1.5vw 0;
    }
    
    #over2 h4 {
        font-size: 3vw;
        font-weight: 500;
    }
    
    #over2 img {
        height: 5vw;
    }
    
#scroll {
    height: 20vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container {
    height: 100%;
    width: 210%;
    /* background-color: blue; */
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img {
    /* display: none; */
    height: 95%;
    border-radius: 50%;
    width: 15.3%;
    margin: 1vw;
    object-fit: cover;
    object-position: 30% 30%;
}

#alphabet {
    height: 12vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

}

#alphabet h5 {
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    border-bottom: 2px solid #000;
    margin-right: 1vw;

}

#alphabet h6 {
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    /* background-color: yellow; */
    letter-spacing: 4px;
    border-radius: 50%;
    padding: 0.5vw 0.7vw;
    border: 1px solid #ffffff00;
    cursor: pointer;
    transition: all ease 0.2s;
}

#alphabet h6:hover {
    border: 1px solid #000000;
}

#page2 {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: space-between;
    padding: 2vw 5vw;
}

#page2-part1 {
    height: 100%;
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1654944989879-b3ef6a3f69a3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#page2-part2 {
    height: 100%;
    width: 46%;
}

#page2-part2 img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

#page2-part2-bottom-text {
    height: 30%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    font-family: monospace;
    padding: 1vw;
}

#page2-part2-bottom-text :nth-child(1) h2 {
    font-size: 3vw;

}

#page2-part2-bottom-text :nth-child(2) h6 {
    font-size: 1.2vw;
}

#page3 {
    height: 60%;
    width: 100%;
    /* background-color: grey; */

}

#vogue-shot {
    height: 6%;
    display: flex;
    align-items: center;
    padding: 0 5vw;
}

#vogue-shot h1 {
    margin-top: 13px;
    font-size: 7vw;
    font-weight: 600;
    font-family: "monument";
}

#page3-container {
    height: 94%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw 5vw;
}

#page3-part1 {
    height: 100%;
    width: 38%;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
}


#page3-part2 {
    height: 100%;
    width: 60%;
    /* background-color: gray; */

}

#page3-part2 img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#circular-text {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#circular-text img {
    height: 20vh;
    width: 50vw;
}

#Gola {
    animation: circularText 15s linear infinite;
}

#circular-text #arrow {
    height: 20%;
    width: 40%;
    position: absolute;
    mix-blend-mode: color;
}

#circular-text-bottom {
    height: 20%;
    width: 100%;
    /* background-color: green; */
}

#circular-text-bottom h5 {
    font-size: 2vw;
    font-weight: 500;
}

#page4 {
    height: 43%;
    width: 100%;
    /* background-color: greenyellow; */
    padding: 2vw 6vw;
    
}

#page4-img {
height: 100%;
width: 100%;
}
#page4-img img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: top;
}


#page5 {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding: 5vw 4vw;
    font-family: "monument";
}

#page5>h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 12vw;
    margin-bottom: 7vh;
}

.elem {
    height: 15vh;
    width: 100%;
    /* background-color: red; */
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
    transition: all ease 0.7s;

}

.elem img {
    height: 60px;
    width: 60px;
    position: absolute;
    border-radius: 50%;
    left: 12%;
    opacity: 0;
    transition: all ease 0.7s;
    object-fit: cover;
    /* object-position: top; */
}

.elem h4 {
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
}

.elem .elem-part2 {
    width: 50%;
}

.elem-part2 h1 {
    /* background-color: green; */
    font-size: 5vw;
    font-weight: 500;
}

.elem-part2 h5 {
    font-size: 3vw;
    font-weight: 600;
    text-transform: uppercase;
}

.elem:nth-last-child(1) {
    border-bottom: 2px solid black;
}

.elem:hover img {
    opacity: 1;
    left: 24%;
}

.elem:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

#marquee {
    width: 100%;
    background-color: #fff;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0.8vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#marquee h1 {
    display: inline-block;
    font-size: 11vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    letter-spacing: 2px;
    font-family: "monument";
    animation: move 5s infinite linear;

    /* vo pehle se 4 px ka gap le rha tha */
    margin-right: 16px;
}
}